html,body{
    margin: 0;
    font-family: 'Montserrat', Arial, sans-serif;
}


.top {
    background-color: #1a91bc;
    border-color: #16a085;
    padding-bottom: 40px;
    padding-top: 60px;
    color: white;
    text-transform: uppercase;
    font-size: 27px;
    line-height: 22px;    
}

.cont{
    width: auto;
    margin: auto;
    overflow: hidden;
}

.cont{
    max-width: 1100px;
}


.top .logo, .top .logo:hover{
    color: rgb(255, 255, 255);
    display: block;
    font-weight: bold;
    float: left;
}

.top .menu{
    font-size: 20px;
    line-height: 14px;
    padding-top: 6px;
    vertical-align: bottom;
    float: left;
}

.top .menu a{
    padding: 10px 15px;
    text-decoration: none;
    color: #fff;
    transition: .3s color;
}

.top .menu a:hover, .top .login a.active, .top .login a:hover{
    color: #222;
}

a:hover, a:focus, a:active, a:visited, a:link{
    color: #7b7b7b;
    text-decoration: none;
}


.top .login {
    font-size: 20px;
    line-height: 14px;
    padding-top: 6px;
    vertical-align:bottom;
    float: right;
}

.top .login a {
    padding: 10px 15px; 
    text-decoration: none;
    color: #fff;
    transition: .3s color;
}

.signUp{
    font-size: 20px;
}

.signUp:hover{
    background: rgb(218, 91, 91);
}

.LoginWord{
    text-align: center;
    font-size: 30px;
    margin-top: 100px;
}

.containerLogin{
    background-image: url("blur.jpg");

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    border-radius: 10px;
    border-width: 4px;
    margin: auto;
    max-width: 100%;
    width: 30%;
}

.containerLogin p{
    text-align: left;
    font-weight: bolder;
    font-size: 22px;
    padding-left: 50px;
    padding-top: 25px;
    z-index: 2;
    line-height: 10px;
}

.containerLogin a{
    color: rgb(0, 0, 0);
    text-align: center;
    font-weight: bolder;
    display: block;
    font-size: 22px;
    margin: 30px;
    padding-bottom: 10px;
}

.containerLogin a:hover{
    color: rgb(218, 91, 91);
}


.LoginButton{ /*chenar login*/

    background-color: #16a085;
    border-width: 4px;
    border-radius: 5px;
    margin: auto;
    margin-top: 20px;
    width: 82%;
    padding: 6px;
}

.LoginButton a{
    font-weight: bolder;
    font-size: 22px;
    text-align: center;
    display: block;
    padding: auto;
    margin: auto;
}

.LoginButton:hover{
    background-color: rgb(44, 162, 83);
}

.LoginButton a:hover{
    color: #222;
}

.containerLogin label{
    text-align: left;
    font-weight: bolder;
    font-size: 20px;
    padding-left: 50px;
    z-index: 2;
    line-height: 5px;

    margin-top:25px;
    display:inline-block;
}

.input{  /*chenar in care se introduce text*/
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    width: 80%;
    padding: 10px;
    margin-left: 7%;
    margin-top: 10px;
}


@media only screen and (max-width: 600px){

    .logo{
        margin: auto;
        float: none!important;
        text-align: center;
        margin-bottom: 5px;
        margin-top: 0;
    }

    .menu{
        display: block;
        width: 100%;
        text-align: center;
    }
    
    .menu a{
        float: none;
        padding-top: 15px;
        padding-bottom: 10px;
        padding-left: 5px;
        padding-right: 5px;
    }

    .login{
        display: block;
        width: 100%;
        text-align: center;
        margin-top: 10px;
    }

    .login a{
        float: none;
        padding-top: 15px;
        padding-bottom: 10px;
        padding-left: 5px;
        padding-right: 5px;
    }

    .login .signUp:hover{
        padding-top: 0%;
    }

    .containerLogin{
        width: 60%;
    }

}

@media screen and (max-width: 1200px) and (min-width: 901px){
    .containerLogin{
        width: 40%;
    }
}

@media screen and (max-width: 900px) and (min-width: 601px){
    .logo{
        margin: auto;
        float: none!important;
        text-align: center;
        margin-bottom: 5px;
        margin-top: 0;
    }

    .menu{
        display: block;
        width: 100%;
        text-align: center;
    }
    
    .menu a{
        float: none;
        padding-top: 15px;
        padding-bottom: 10px;
        padding-left: 5px;
        padding-right: 5px;
    }

    .login{
        display: block;
        width: 100%;
        text-align: center;
        margin-top: 10px;
    }

    .login a{
        float: none;
        padding-top: 15px;
        padding-bottom: 10px;
        padding-left: 5px;
        padding-right: 5px;
    }

    .login .signUp:hover{
        padding-top: 0%;
    }

   .containerLogin{
       width: 50%;
   } 

}

