* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif, Arial, sans-serif;
}

body {
  padding-left: 15vw;
  padding-right: 15vw;
  text-align: justify;
  margin-bottom: 30px;
}

h1 {
  text-align: center;
  font-weight: bold;
  margin: 30px 0 30px 0;
  color: #1840AD;
}

dl {
  padding-top: 20px;
}

dt {
  font-weight: bold;
}

dd {
  display: block;
  margin-left: 40px;
  padding-bottom: 30px;
}

h2 {
  margin: 40px 0 5px 0;
  border-bottom: 1px solid #1840AD;
  color: #1840AD;
}

h3 {
  margin: 10px 10px 10px 0;
  color: #2D5EE3;
}

h4 {
  color: #7F8EB8;
}

p {
  margin-bottom: 20px;
}

/* h3 ~ p, h4, h4 + p {
  border-left: 2px solid red;
  padding-left: 10px;
} */

ul {
  /* border-left: 2px solid red; */
  padding-left: 20px;
  margin-bottom: 20px;
}

pre {
  border: 1px solid black;
  font-family: Consolas, "courier new";
}

#img1, #img2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  margin-top: 10px;
  margin-bottom: 0;
  border: 1px solid black;
}

#img2 {
  max-width: 40%;
}

.caption {
  color: gray;
  font-size: 14px;
  text-align: center;
  display: table;
  margin: 0 auto;
  margin-bottom: 30px;
}

#index dt {
  font-weight: normal;
  padding-bottom: 5px;
}

#index dd {
  display: block;
  margin-left: 40px;
  padding-bottom: 5px;
}

dt a, dd a {
  text-decoration: none;
}
