html,body{
    margin: 0;
    font-family: 'Montserrat', Arial, sans-serif;
}

.top {
    background-color: #1a91bc;
    border-color: #16a085;
    padding-bottom: 40px;
    padding-top: 60px;
    color: white;
    text-transform: uppercase;
    font-size: 27px;
    line-height: 22px;    
}

.cont{
    width: auto;
    margin: auto;
    overflow: hidden;
}

.cont{
    max-width: 1100px;
}

.top .logo, .top .logo:hover{
    color: rgb(255, 255, 255);
    display: block;
    font-weight: bold;
    float: left;
}

.top .menu{
    font-size: 20px;
    line-height: 14px;
    padding-top: 6px;
    vertical-align: bottom;
    float: left;
}

.top .menu a{
    padding: 10px 15px;
    text-decoration: none;
    color: #fff;
    transition: .3s color;
}

.top .menu a:hover, .top .menu a.active, .top .login a:hover{
    color: #222;
}

a:hover, a:focus, a:active, a:visited, a:link{
    color: #7b7b7b;
    text-decoration: none;
}

.top .login {
    font-size: 20px;
    line-height: 14px;
    padding-top: 6px;
    vertical-align:bottom;
    float: right;
}

.top .login a {
    padding: 10px 15px; 
    text-decoration: none;
    color: #fff;
    transition: .3s color;
}

.signUp{
    font-size: 20px;
}

.signUp:hover{
    background: rgb(218, 91, 91);
}

  .photo{
    width: 35%;
    height: auto;
    margin-left: 50px;
    margin-top: 50px;
    margin-right: 100px;
    float: right;
    
  }

  .descriptionText{
    padding-top: 6px;
    padding-bottom: 15px;

    display: block;
    max-width: 100%;
    width: 40%;

    background-color: rgb(88, 154, 176);
    border-radius: 10px;

    margin-top: 150px;
    margin-bottom: 100px;
    margin-left: 150px;
 
  }

  .descriptionText h1{
    text-align: center;
    line-height: 40px;
    font-size: 40px;
  }

  .descriptionText p{
    text-align: center;   
    font-size: 25px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .descriptionText a{
    text-align: center;
    padding: 10px 15px; 
    text-decoration: none;
    color: #fff;
    transition: .3s color;
    margin: 0% 30%;
    font-size: 25px;
  }


@media only screen and (max-width: 600px){
    body{
        background-color: rgb(88, 154, 176);
    }

    .logo{
        margin: auto;
        float: none!important;
        text-align: center;
        margin-bottom: 5px;
        margin-top: 0;
    }

    .menu{
        display: block;
        width: 100%;
        text-align: center;
    }
    
    .menu a{
        float: none;
        padding-top: 15px;
        padding-bottom: 10px;
        padding-left: 5px;
        padding-right: 5px;
    }

    .login{
        display: block;
        width: 100%;
        text-align: center;
        margin-top: 10px;
    }

    .login a{
        float: none;
        padding-top: 15px;
        padding-bottom: 10px;
        padding-left: 5px;
        padding-right: 5px;
    }

    .login .signUp:hover{
        padding-top: 0%;
    }
    

    .photo{
        width: 75%;
        height: auto;
        margin-top: 20px;
        margin-right: 40px;
        float: left;
    }

    .descriptionText{
        width: auto;
        margin: auto;
        height: auto;
        padding: 5%;
        float: none;
    }

    .descriptionText .signUp{
        border: 1px solid rgb(218, 91, 91);
        border-width: 2px;
        margin-left: 150px;
    }

}

@media screen and (max-width: 1200px) and (min-width: 901px)
{
    .descriptionText{
        max-width: 100%;
        margin-top: 10%;
        margin-right: 10px;
        margin-left: 50px;
        display: block;
        text-align: center;
        float: none;
    }

    .descriptionText h1, .descriptionText p{
        float: none;
        padding-top: 15px;
        padding-bottom: 10px;
        padding-left: 5px;
        padding-right: 5px;
        float: none;
    }

    .descriptionText a{
        margin: 0%;
    }


    .photo{
        max-width:50%;
        height: auto;
        margin-right: 10px;
        width:50%;

    }
}

@media screen and (max-width: 900px) and (min-width: 601px){
   
    .descriptionText{
        max-width: 100%;
        margin-top: 10%;
        margin-right: 10px;
        margin-left: 50px;
        display: block;
        text-align: center;
        float: none;
    }

    .descriptionText h1, .descriptionText p{
        float: none;
        padding-top: 15px;
        padding-bottom: 10px;
        padding-left: 5px;
        padding-right: 5px;
        float: none;
    }

    .descriptionText a{
        margin: 0%;
    }

    .photo{
        max-width:50%;
        height: auto;
        margin-right: 20px;
        margin-top: 70px;
        width:40%;

    }

}